<div class="car-database">
	<h3>{{brand}} {{model}} {{name}}</h3>
	<table class="table">
		<tbody>
			<tr class="row">
				<td class="col-sm-6 col-xs-5 header">Wymiana oleju:</td>
				<td class="col-sm-6 col-xs-7">{{oil_change}}</td>
			</tr>
			<tr class="row">
				<td class="col-sm-6 col-xs-5 header">Wymiana filtru olejowego:</td>
				<td class="col-sm-6 col-xs-7">{{oil_filter_change}}</td>
			</tr>
			<tr class="row">
				<td class="col-sm-6 col-xs-5 header">Wymiana filtru kabinowego:</td>
				<td class="col-sm-6 col-xs-7">{{cabin_filter_change}}</td>
			</tr>
		</tbody>
	</table>
</div>